@import url("/css/index.css");

.inicial h1,
.gerar h1 {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(0, 0, 0, .7);
    font-size: 4rem;
    font-family: var(--font-vintage);
    color: var(--color-chocolate);
}

.inicial>p,
.gerar>p {
    font-size: 3rem;
    font-family: var(--font-vintage);
    color: var(--color-chocolate);
}


/*Filtros*/
.inicial input[type="date"] {
    width: 50vw;
    height: 70px;
    font-size: 3rem;
    text-align: center;
}

.filtros {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filtros p {
    font-size: 5rem;
    color: var(--color-chocolate);
}

/*horarios*/

.horarios_container {
    gap: 1rem;
}

.horario {
    display: flex;
    align-items: center;
    margin-top: 10px;
    min-width: 400px;
    height: 150px;
}


.horario p {
    flex: content;
    width: auto;
    font-size: 2rem;
}

.container_btn {
    display: flex;
    gap: 0.5rem;
}

.container_btn button {
    flex: 1;
    border: none;
    border-radius: 20px;
    background-color: var(--color-chocolate);
    color: white;
    height: 70px;
    font-size: 2rem;
}


/*Gerar datas*/
.gerar {
    padding: 10px;
    margin-top: 50px;
}

.gerar form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gerar form .container_inputs {
    display: flex;
    align-items: center;
}

.container_inputs{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.gerar form .container_inputs input {
    width: 45vw;
    height: 70px;
    font-size: 3rem;
    text-align: center;
}

.gerar form input[type="submit"] {
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    background-color: var(--color-chocolate);
    color: white;
    height: 70px;
    width: 60vw;
    text-align: center;
    font-size: 2rem;
}