<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/agendamentos.css">
    <title>Emerson Barbeiro - Agendamentos</title>
</head>

<body>
    <section class="inicial">
        <h1>Agendamentos : </h1>

        <p>Filtro: </p>
        <input type="date" name="data" id="dataFiltro">

        <div class="horarios_container">
            <div class="horario">
                <p>Data: 01-01-2024</p>
                <p>Hora: 10:00</p>
                <p>Nome: William</p>
                <p>Serviços: Barba,Tesoura</p>
                <p>Telefone: 81982748007</p>
                <span class="">
                    <button type="button">Edit</button>
                    <button type="button">Del</button>
                </span>
            </div>
            <div class="horario">
                <p>Data: 01-01-2024</p>
                <p>Hora: 10:00</p>
                <p>Nome: William</p>
                <p>Serviços: Barba,Tesoura</p>
                <p>Telefone: 81982748007</p>
                <span class="">
                    <button type="button">Edit</button>
                    <button type="button">Del</button>
                </span>
            </div>
            <div class="horario">
                <p>Data: 01-01-2024</p>
                <p>Hora: 10:00</p>
                <p>Nome: William</p>
                <p>Serviços: Barba,Tesoura</p>
                <p>Telefone: 81982748007</p>
                <span class="">
                    <button type="button">Edit</button>
                    <button type="button">Del</button>
                </span>
            </div>
        </div>

    </section>
</body>

</html>