<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/agendamentos.css">
    <title>Emerson Barbeiro - Agendamentos</title>
</head>

<body>
    <section class="inicial">
        <h1>Agendamentos</h1>
        <p>Filtro de Data:</p>
        <div class="filtros">
            <input type="date" name="inicial" id="dataInicial">
            <p>à</p>
            <input type="date" name="final" id="dataFinal">
        </div>

        <div class="horarios_container" data-th-attr= "data-agendamentos=${agendamentos}">
        </div>

    </section>
    <script type="module" src="/scripts/agendamentos.js"></script>
</body>

</html>