<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/agendamentos.css">
    <title>Emerson Barbeiro - Agendamentos</title>
</head>

<body>
    <section class="inicial">
        <h1>Agendamentos</h1>
        <p>Filtro de Data:</p>
        <div class="filtros">
            <input type="date" name="inicial" id="dataInicial">
            <p>à</p>
            <input type="date" name="final" id="dataFinal">
        </div>

        <div class="horarios_container" data-th-attr="data-agendamentos=${agendamentos}">
        </div>
    </section>

    <section class="gerar">
        <h1>Gerar Datas</h1>
        <p>Selecione um periodo :</p>
        <form action="/emerson-barbeiro/gerar-datas" method="post">
            <div class="container_inputs">
                <input type="text" name="dataInicial" id="dataInicial">
                <input type="text" name="dataFinal" id="dataFinal">
            </div>
            <input type="submit" value="Gerar">
        </form>
    </section>
    <script type="module" src="/scripts/agendamentos.js"></script>
</body>

</html>